---
- name: Assert service account role mapping is valid
  ansible.builtin.assert:
    that:
      - keycloak_service_account_mapping.client_id is defined
      - keycloak_service_account_mapping.client_id | length > 0
      - keycloak_service_account_mapping.role_client_id is defined
      - keycloak_service_account_mapping.role_client_id | length > 0
      - keycloak_service_account_mapping.roles is defined
      - keycloak_service_account_mapping.roles | length > 0
    quiet: true

- name: Fetch service account client
  ansible.builtin.uri:
    url: "{{ keycloak_admin_base_url }}/admin/realms/{{ keycloak_realm_name }}/clients?clientId={{ keycloak_service_account_mapping.client_id | urlencode }}"
    method: GET
    headers: { Authorization: "Bearer {{ keycloak_admin_access_token }}" }
    status_code: 200
  register: keycloak_service_account_client_lookup
  no_log: true

- name: Assert service account client exists
  ansible.builtin.assert:
    that:
      - keycloak_service_account_client_lookup.json | length > 0
    fail_msg: >-
      Keycloak client {{ keycloak_service_account_mapping.client_id }} not found
      in realm {{ keycloak_realm_name }}.
    quiet: true

- name: Assert service accounts are enabled for client
  ansible.builtin.assert:
    that:
      - keycloak_service_account_client_lookup.json[0].serviceAccountsEnabled | default(false)
    fail_msg: >-
      Keycloak client {{ keycloak_service_account_mapping.client_id }} does not
      have service accounts enabled.
    quiet: true

- name: Fetch role source client
  ansible.builtin.uri:
    url: "{{ keycloak_admin_base_url }}/admin/realms/{{ keycloak_realm_name }}/clients?clientId={{ keycloak_service_account_mapping.role_client_id | urlencode }}"
    method: GET
    headers: { Authorization: "Bearer {{ keycloak_admin_access_token }}" }
    status_code: 200
  register: keycloak_role_client_lookup
  no_log: true

- name: Assert role source client exists
  ansible.builtin.assert:
    that:
      - keycloak_role_client_lookup.json | length > 0
    fail_msg: >-
      Keycloak role source client {{ keycloak_service_account_mapping.role_client_id }}
      not found in realm {{ keycloak_realm_name }}.
    quiet: true

- name: Resolve service account user id
  ansible.builtin.uri:
    url: "{{ keycloak_admin_base_url }}/admin/realms/{{ keycloak_realm_name }}/clients/{{ keycloak_service_account_client_lookup.json[0].id }}/service-account-user"
    method: GET
    headers: { Authorization: "Bearer {{ keycloak_admin_access_token }}" }
    status_code: 200
  register: keycloak_service_account_user
  no_log: true

- name: Fetch existing service account role mappings
  ansible.builtin.uri:
    url: "{{ keycloak_admin_base_url }}/admin/realms/{{ keycloak_realm_name }}/users/{{ keycloak_service_account_user.json.id }}/role-mappings/clients/{{ keycloak_role_client_lookup.json[0].id }}"
    method: GET
    headers: { Authorization: "Bearer {{ keycloak_admin_access_token }}" }
    status_code: 200
  register: keycloak_service_account_roles_current
  no_log: true

- name: Determine missing service account roles
  ansible.builtin.set_fact:
    keycloak_service_account_roles_missing: >-
      {{
        (keycloak_service_account_mapping.roles | map('string') | list)
        | difference(keycloak_service_account_roles_current.json | map(attribute='name') | list)
      }}
  no_log: true

- name: Fetch missing role representations
  ansible.builtin.uri:
    url: "{{ keycloak_admin_base_url }}/admin/realms/{{ keycloak_realm_name }}/clients/{{ keycloak_role_client_lookup.json[0].id }}/roles/{{ item | urlencode }}"
    method: GET
    headers: { Authorization: "Bearer {{ keycloak_admin_access_token }}" }
    status_code: 200
  register: keycloak_service_account_role_defs
  no_log: true
  loop: "{{ keycloak_service_account_roles_missing }}"
  when: keycloak_service_account_roles_missing | length > 0

- name: Assign missing service account roles
  ansible.builtin.uri:
    url: "{{ keycloak_admin_base_url }}/admin/realms/{{ keycloak_realm_name }}/users/{{ keycloak_service_account_user.json.id }}/role-mappings/clients/{{ keycloak_role_client_lookup.json[0].id }}"
    method: POST
    headers: { Authorization: "Bearer {{ keycloak_admin_access_token }}" }
    body_format: json
    body: "{{ keycloak_service_account_role_defs.results | map(attribute='json') | list }}"
    status_code:
      - 201
      - 204
  no_log: true
  when: keycloak_service_account_roles_missing | length > 0
