RELEASY_BIND_ADDR={{ releasy_server_bind_addr }}
RELEASY_LOG_LEVEL={{ releasy_log_level }}
RELEASY_DATABASE_URL={{ releasy_server_database_url }}
RELEASY_DATABASE_MAX_CONNECTIONS={{ releasy_database_max_connections }}
RELEASY_ADMIN_API_KEY={{ releasy_admin_api_key }}
{% if releasy_api_key_pepper is defined and releasy_api_key_pepper|length > 0 %}
RELEASY_API_KEY_PEPPER={{ releasy_api_key_pepper }}
{% endif %}
{% if releasy_artifact_endpoint is defined and releasy_artifact_endpoint|length > 0 %}
RELEASY_ARTIFACT_ENDPOINT={{ releasy_artifact_endpoint }}
{% endif %}
{% if releasy_artifact_region is defined and releasy_artifact_region|length > 0 %}
RELEASY_ARTIFACT_REGION={{ releasy_artifact_region }}
{% endif %}
{% if releasy_artifact_bucket is defined and releasy_artifact_bucket|length > 0 %}
RELEASY_ARTIFACT_BUCKET={{ releasy_artifact_bucket }}
{% endif %}
{% if releasy_artifact_access_key is defined and releasy_artifact_access_key|length > 0 %}
RELEASY_ARTIFACT_ACCESS_KEY={{ releasy_artifact_access_key }}
{% endif %}
{% if releasy_artifact_secret_key is defined and releasy_artifact_secret_key|length > 0 %}
RELEASY_ARTIFACT_SECRET_KEY={{ releasy_artifact_secret_key }}
{% endif %}
{% if releasy_artifact_path_style is defined %}
RELEASY_ARTIFACT_PATH_STYLE={{ releasy_artifact_path_style | bool | lower }}
{% endif %}
{% if releasy_artifact_presign_expires_seconds is defined %}
RELEASY_ARTIFACT_PRESIGN_EXPIRES_SECONDS={{ releasy_artifact_presign_expires_seconds }}
{% endif %}
{% if releasy_download_token_ttl_seconds is defined %}
RELEASY_DOWNLOAD_TOKEN_TTL_SECONDS={{ releasy_download_token_ttl_seconds }}
{% endif %}
{% if releasy_operator_jwks_url is defined and releasy_operator_jwks_url|length > 0 %}
RELEASY_OPERATOR_JWKS_URL={{ releasy_operator_jwks_url }}
{% endif %}
{% if releasy_operator_issuer is defined and releasy_operator_issuer|length > 0 %}
RELEASY_OPERATOR_ISSUER={{ releasy_operator_issuer }}
{% endif %}
{% if releasy_operator_audience is defined and releasy_operator_audience|length > 0 %}
RELEASY_OPERATOR_AUDIENCE={{ releasy_operator_audience }}
{% endif %}
{% if releasy_operator_resource is defined and releasy_operator_resource|length > 0 %}
RELEASY_OPERATOR_RESOURCE={{ releasy_operator_resource }}
{% endif %}
RELEASY_OPERATOR_JWKS_TTL_SECONDS={{ releasy_server_operator_jwks_ttl_seconds }}
RELEASY_OPERATOR_JWT_LEEWAY_SECONDS={{ releasy_server_operator_jwt_leeway_seconds }}
{% if releasy_keycloak_enabled is defined %}
RELEASY_KEYCLOAK_ENABLED={{ releasy_keycloak_enabled | bool | lower }}
{% endif %}
{% if releasy_keycloak_allow_insecure is defined %}
RELEASY_KEYCLOAK_ALLOW_INSECURE={{ releasy_keycloak_allow_insecure | bool | lower }}
{% endif %}
{% if releasy_keycloak_base_url is defined and releasy_keycloak_base_url|length > 0 %}
RELEASY_KEYCLOAK_BASE_URL={{ releasy_keycloak_base_url }}
{% endif %}
{% if releasy_keycloak_realm is defined and releasy_keycloak_realm|length > 0 %}
RELEASY_KEYCLOAK_REALM={{ releasy_keycloak_realm }}
{% endif %}
{% if releasy_keycloak_client_id is defined and releasy_keycloak_client_id|length > 0 %}
RELEASY_KEYCLOAK_CLIENT_ID={{ releasy_keycloak_client_id }}
{% endif %}
{% if releasy_keycloak_client_secret is defined and releasy_keycloak_client_secret|length > 0 %}
RELEASY_KEYCLOAK_CLIENT_SECRET={{ releasy_keycloak_client_secret }}
{% endif %}
