KEYCLOAK_ADMIN={{ keycloak_admin_user }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://{{ keycloak_db_host }}:{{ keycloak_db_port }}/{{ keycloak_db_name }}?sslmode={{ keycloak_db_ssl_mode }}
KC_DB_USERNAME={{ keycloak_db_user }}
KC_DB_PASSWORD={{ keycloak_db_password }}

KC_HOSTNAME={{ keycloak_hostname }}
KC_HTTP_ENABLED={{ keycloak_http_enabled | bool | lower }}
KC_PROXY_HEADERS={{ keycloak_proxy_headers }}
KC_HOSTNAME_STRICT={{ keycloak_hostname_strict | bool | lower }}
KC_HOSTNAME_STRICT_HTTPS={{ keycloak_hostname_strict_https | bool | lower }}
KC_HEALTH_ENABLED={{ keycloak_health_enabled | bool | lower }}
KC_METRICS_ENABLED={{ keycloak_metrics_enabled | bool | lower }}
{% if keycloak_cluster_enabled | default(false) %}
KC_CACHE=ispn
KC_CACHE_STACK={{ keycloak_cache_stack }}
{% endif %}

{% if keycloak_extra_env | length > 0 %}
{% for item in keycloak_extra_env %}
{{ item }}
{% endfor %}
{% endif %}
