[Unit]
Description=Keycloak (%i) (Docker)
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
EnvironmentFile={{ keycloak_env_file }}
EnvironmentFile={{ keycloak_env_dir }}/keycloak-%i.env
ExecStartPre=-/usr/bin/docker rm -f {{ keycloak_container_name_prefix }}-%i
ExecStartPre=/usr/bin/docker pull {{ keycloak_image }}
ExecStart=/usr/local/bin/keycloak-run %i
ExecStop=/usr/bin/docker stop {{ keycloak_container_name_prefix }}-%i

[Install]
WantedBy=multi-user.target
