#!/usr/bin/env bash
set -euo pipefail

instance="${1:?instance name required}"

exec /usr/bin/docker run --rm \
  --name {{ keycloak_container_name_prefix }}-"${instance}" \
  --env-file {{ keycloak_env_file }} \
  --env-file {{ keycloak_env_dir }}/keycloak-"${instance}".env \
  -v {{ keycloak_data_dir }}:/opt/keycloak/data \
{% for dns_server in keycloak_docker_dns | default([]) %}
  --dns {{ dns_server }} \
{% endfor %}
{% if keycloak_bind_address | default('') %}
  -p {{ keycloak_bind_address }}:${KEYCLOAK_HTTP_PORT}:8080 \
{% else %}
  -p $KEYCLOAK_HTTP_PORT:8080 \
{% endif %}
{% if keycloak_docker_extra_args | default([]) | length > 0 %}
  {{ keycloak_docker_extra_args | join(' ') }} \
{% endif %}
  {{ keycloak_image }} start{{ ' --import-realm' if keycloak_realm_import_enabled | default(false) else '' }}{{ (' ' ~ (keycloak_start_args | join(' '))) if (keycloak_start_args | length > 0) else '' }}
