{
  "realm": "{{ keycloak_realm_name }}",
  "enabled": true,
  "displayName": "{{ keycloak_realm_name }}",
  "registrationAllowed": false,
  "resetPasswordAllowed": true,
  "roles": {
    "realm": [
      { "name": "platform_admin" },
      { "name": "platform_support" },
      { "name": "release_publisher" }
    ],
    "client": {
      "{{ keycloak_portal_client_id }}": [
        { "name": "platform_admin" },
        { "name": "platform_support" },
        { "name": "release_publisher" }
      ]
    }
  },
  "defaultGroups": [
    "/release_publisher"
  ],
  "groups": [
    {
      "name": "release_publisher",
      "clientRoles": {
        "{{ keycloak_portal_client_id }}": [
          "release_publisher"
        ]
      }
    }
  ],
  "clients": [
    {
      "clientId": "{{ keycloak_portal_client_id }}",
      "name": "Releasy Portal",
      "protocol": "openid-connect",
      "clientAuthenticatorType": "client-secret",
      "secret": "{{ keycloak_portal_client_secret }}",
      "publicClient": false,
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": true,
      "serviceAccountsEnabled": true,
      "rootUrl": "{{ keycloak_portal_root_url }}",
      "adminUrl": "{{ keycloak_portal_root_url }}",
      "redirectUris": {{ keycloak_portal_redirect_uris | to_json }},
      "webOrigins": {{ keycloak_portal_web_origins | to_json }},
      "attributes": {
        "post.logout.redirect.uris": "{{ keycloak_portal_root_url }}/*"
      }
    }
  ]
}
